* {
    margin: 0px;
    padding: 0px;
}

.body {

    font-family: 'Poppins', sans-serif;
    width: 1500px;
    background-color: rgba(255, 144, 14, 0.1);
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85px;
    max-width: 1100px;
    margin: 30px auto;

}




nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

ul li a {
    text-decoration: none;
    color: #424242;


}


.title {
    text-align: center;

}

.title h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;

    text-align: center;
}

.title p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
    text-align: center;
}


.explore-more {
    background-color: orange;
    padding: 9px 13px;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    margin: 50px 680px;


}

.explore {
    color: #FFFFFF;
    text-decoration: none;
}

.banner img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    width: 1100px;
}

/* banner end */
.display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: flex;
    margin-top: 70px;
}

.display-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;





}

.images {
    width: 242px;
    height: 242px;
}

.display-title {
    width: 500px;
    margin-left: 30px;
    margin-top: 200px;
}

.quick {
    font-size: 45px;
    font-weight: 500;
}

.paragraph {
    font-size: 16px;
    font-weight: 400;
}

.icon {
    background-color: orange;
    padding: 9px 13px;
    border-radius: 10px;
    margin-top: 50px;
    display: inline-block;
    padding: 9px 13px;
    text-decoration: none;


}

/* arcitects start */

.arcitects {
    display: flex;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.enjoy {
    font-size: 20px;
    width: 470px;
    height: 100px;
    border-left: 5px solid rgba(255, 144, 14, 1);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);

}

.ipsum {
    font-size: 16px;
    color: rgba(114, 114, 114, 1);
    height: 100px;
    width: 470px;
}

.dexktop {
    width: 470px;
    height: 160px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-right: 40px;
}

.mobil {
    margin-left: 25px;
    margin-right: 20px;
    color: rgba(19, 19, 19, 1);

}

.mobile {
    margin-left: 25px;
    margin-right: 20px;
    color: rgba(114, 114, 114, 1);
}

.center {
    background-color: #FF900E;
    text-align: center;
    margin: 0px 650px 100px 650px;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;






}

.year {
    color: #FFFFFF;
    text-decoration: none;
}

.h6 {
    color: #FFFFFF;
}

.some {
    width: 1100px;
    margin-left: 200px;
}

.Some-Facts {
    color: #131313;
    font-size: 45px;
}

.passages {
    color: #727272;
    font-size: 16px;
}

.icons {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    display: flex;
    justify-content: space-between;

}

.Awards {
    height: 180px;
    width: 170px;
    border: 1px solid #FF900E;
    text-align: center;
    transition: transform 1s;




}

.Awards:hover {
    transform: rotate(360deg);
}

.full-web {
    margin-left: 80px;
    width: 50%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 7px;
}

#Full-web-Developer {
    border-left: 7px solid brown;
}

#web-Developer {
    border-left: 7px solid green;
}


.extra-section {
    display: flex;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.Experiences {
    text-align: center;
    color: bisque;
    margin-top: 80px;
}

.exprence #Full-web-Developer {
    border-left: 7px solid brown;
}

#web-Developer {
    border-left: 7px solid greeen;
}

.Sponspors {
    width: 1100px;
    margin: 80px auto 20px auto;

}

.sponspor {
    text-align: center;
}

.sponspors-logo {
    display: flex;
    width: 1100px;
    margin: 80px auto 40px auto;
    justify-content: space-between;
    mix-blend-mode: luminosity;

}

.footer {
    width: 1100px;
    margin: 80px auto 40px auto;
    background: #FFF4E7;
    border-radius: 8px;
    padding: 40px 15px 30px 15px;
}

.finish {
    text-align: center;
}